/* Style sheet for Venice Web Page */

#header {  
          padding-top: 5px;
          background: #6f8389;
          text-align: center;          
          color: #eef1ee;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: black;
}




#sidebar { 
           background-color: #eef1ee;
           float: left;           
           width: 18%;
           height: 98%;
           border-right-width: 1px;
           border-right-style: solid;
           border-right-color: black;           
           margin-right: 10px;
}

#mainbody { 
            height: 94%;
            margin-left: 5px;            
            overflow: scroll;
}


h1 { 
	font-size : 32;
        font-weight: normal;
        margin: 0;
        padding-bottom: 5px;
 }


body, p {
	font-family : Verdana,Arial,Helvetica,"MS Sans Serif";
	font-size : 14;
        padding: 0px;
        margin: 0px;

}

ul { 
     margin-left: 7px;
 }

li, a {
	color: #3f5359;
	text-align: left;
}

a {
	color: #cc7700; 
}

h3 {
	color: #3f5359;
	font-size : 16;
	text-align: left;
        padding-left: 10px;
}

h4 { 
     color: #3f5359;
     font-size : 16;
     text-align: left;
     
}

.term {        
        line-height: 200%;
 }



a:visited { 
            color: #1f1319;
 }

.itemizedlist { 
                margin-left: 5px;            
 }

.mediaobject
{ 
  padding: 6px;

 }